# Configuración de la API
VITE_API_URL=http://localhost:5000/api

# Configuración de la aplicación
VITE_APP_NAME=Innovadomprod
VITE_APP_VERSION=1.0.0
VITE_APP_DESCRIPTION=Sistema de Gestión Empresarial
